:root {
  --secondary-text-color: #212121;
  --secondary-bcg-color: #f5f5f5;
  --accent-color: #2196f3;
  --secondary-white-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}

.list {
  list-style: none;
}

/* header */

.header {
  background-color: var(--secondary-white-color);
  text-decoration: none;
  border-bottom: 1px solid #ececec;
}

.header-container {
  max-width: 1600px;
  display: flex;
  align-items: center;
}

.header-content {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  color: #000000;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.header-list {
  display: flex;
}

.header-item,
.header-items {
  display: block;
}

.header-item:not(:first-child),
.header-items:not(:first-child) {
  margin-left: 50px;
}

.header-link {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #2196F3;
  border-radius: 2px;
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.web-content {
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
}

.link {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.contacts {
  font-weight: 500;
  color: #757575;
  fill: #757575;
  font-style: normal;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

.contacts:hover,
.contacts:focus svg {
  fill: var(--accent-color);
}

.header-icons {
  margin-right: 10px;
}

.contact {
  font-weight: 400;
  color: #757575;
  font-style: normal;
  text-decoration: none;
}

/* main */

.hero-container {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/герой/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-white-color);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-btn {
  display: block;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: var(--secondary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  margin: 0 auto;
}

/* особливості */

.features,
.classes {
  color: var(--secondary-bcg-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clas {
  padding-bottom: 0;
}

.features-list {
  width: 1170px;
  display: flex;
  margin: 0 auto;
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.features-text {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}

/* чим ми займаємося */

.classes-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.classes-list {
  width: 1170px;
  display: flex;
  margin: 0 auto;
}

.classes-item:not(:last-child) {
  margin-right: 30px;
}

.classes-box {
  display: block;
}

/* наша команда */

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.team-list {
  width: 1170px;
  display: flex;
  margin: 0 auto;
}

.our-team {
  font-size: 16px;
  line-height: 1.1;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.team-list-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.team-social {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social-icons {
  display: flex;
  fill: #afb1b8;
}

.team-social-icons:hover,
.team-social-icons:focus {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--secondary-white-color);
}

.social-icons {
  width: 20px;
}

.team-item {
  background-color: var(--secondary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:first-child) {
  margin-left: 30px;
}

.team-card {
  display: block;
}

.cards {
  padding: 30px 10px;
  text-align: center;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: #757575;
}

/* Постійні клієнти */

.client-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.client-icon {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.client-icons {
  width: 106px;
  height: 60px;
}

.client-icon:hover,
.client-icon:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* footer */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  max-width: 1600px;
  display: flex;
  align-items: baseline;
}

.footer-content {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  color: var(--secondary-white-color);
  text-decoration: none;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: var(--secondary-white-color);
  margin-top: 20px;
}

.footer-items:not(:first-child) {
  margin-top: 9px;
}

.footer-icons {
  margin-left: 70px;
}

.footer-text {
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--secondary-white-color);
}

.footer-list {
  display: flex;
  gap: 10px;
}

.footer-social {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer-social-icons {
  display: flex;
  fill: var(--secondary-white-color);
}

.footer-social-icons:hover,
.footer-social-icons:focus {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #2196f3;
}

/* портфоліо */

.button {
  max-width: 1230px;
  margin: 0 auto;
}

.button-list {
  width: 575px;
  color: var(--secondary-bcg-color);
  list-style: none;
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
}

.button-item {
  margin: 0 auto;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.btn:hover,
.btn:focus {
  color: var(--secondary-white-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn {
  display: block;
  font-size: 16px;
  line-height: 1.6;
  color: var(--secondary-text-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
}

.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.work-list {
  max-width: 1230px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;
}

.work-item {
  margin: 0 auto;
  margin-bottom: 30px;
}

.portfolio {
  display: block;
  text-decoration: none;
}

.portfolio:hover,
.portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project {
  display: block;
}

.projects {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.proj {
  margin-bottom: 0;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  left: 536px;
  top: 221px;
  background: var(--secondary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: var(--secondary-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}